@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

.estilo_footer {
  background: rgba(196, 196, 196, 0.25);
  color: black;
  padding: 5px;
  margin-bottom: 0;
  padding-top: 10px;
  text-align: center;
  box-sizing: border-box;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  clear: both;
}
