@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

body,
p,
h1,
h2 {
  margin: 0;
  font-family: Josefin Sans;
}

.user_data {
  width: 100%;
  margin: 0px 0 0 20px;
  height: 473px;
  background: white;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
  padding: 10px 40px 0px 40px;
  box-sizing: border-box;
}
.user_data h1 {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 25px;
  text-align: center;
  padding-top: 2rem;
}

.user_data h2 {
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  text-shadow: 1px #111111;
  font-family: "Josefin Sans", sans-serif;
  color: #a60356;
}

.user_data p {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
}
.user_data a {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.user_data a img {
  height: 150px;
  width: auto;
  border-radius: 50%;
  margin-right: auto;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.personal-image {
  text-align: center;
}
.personal-image input[type="file"] {
  display: none;
}
.personal-figure {
  position: relative;
  width: 200px;
  height: 200px;
}
.personal-avatar {
  cursor: pointer;
  width: inherit;
  height: inherit;
  box-sizing: border-box;
  border-radius: 100%;
  border: 2px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  transition: all ease-in-out .3s;
}
.personal-avatar:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
.personal-figcaption {
  cursor: pointer;
  position: absolute;
  top: 0px;
  width: inherit;
  height: inherit;
  border-radius: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: all ease-in-out .3s;
}
.personal-figcaption:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, .5);
}
.personal-figcaption > img {
  margin-top: 32.5px;
  width: 50px;
  height: 50px;
}
.dadosUser{
    position: relative;
    top: 80px;
}
.img_upload {
  font-size: 16px;
  position: relative;
  width: 50px;
  height: 100px;
  top: -24px;
  left: 35px;
}